Repository 44mira/kitschy-co: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    backend-lint:
      tags: backend style
      glob: "backend/**/*.py"
      root: backend/
      run: |
        pipenv run pytest
        pipenv run black {staged_files} --line-length=79
        pipenv run isort {staged_files} --profile=black --filter-files -l=79
        pipenv run flake8 {staged_files} --config=.flake8
    frontend-lint:
      tags: frontend style
      glob: "frontend/*.{svelte,ts,js,md}"
      root: frontend/
      run: |
        npx prettier --write {staged_files}

refactor: remove unnecessary code
  backend/kitschy_api/migrations/0003_merge_20241126_0125.py
  backend/kitschy_api/views/product.py
Due: backend-lint

feat: added POST and GET tests for products
  Pipfile
  Pipfile.lock
  backend/Pipfile
  backend/Pipfile.lock
  backend/kitschy_api/tests/conftest.py
  backend/kitschy_api/tests/product_tests.py
  backend/pytest.ini
Due: backend-lint

feat: completed basic tests for CRUD
  backend/kitschy_api/tests/product_tests.py
Due: backend-lint

format: formatted files
  backend/kitschy_api/tests/product_tests.py
Due: backend-lint

feat: added preOrder tests and invalid product tests
  backend/kitschy_api/migrations/0002_rename_quantity_product_stock_and_more.py
  backend/kitschy_api/models/products.py
  backend/kitschy_api/tests/product_tests.py
Due: backend-lint

feat: added edge case testing for products
  backend/kitschy_api/tests/product_tests.py
Due: backend-lint

feat: added product images test cases
  backend/kitschy_api/tests/product_image_tests.py
Due: backend-lint

format:formatted file
  backend/kitschy_api/tests/product_image_tests.py
Due: backend-lint

fix: remove commented out code
  frontend/src/lib/components/ui/input/input.svelte
Due: frontend-lint

refactor: remove unnecessary function
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

docs: add docs to ambiguous function
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

fix: names to match schema and refactor toggleCreator
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

refactor: push instead of spread
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: correct styling for tabs
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

feat: add form actions
  frontend/src/routes/admin/+page.server.ts
Due: frontend-lint

feat: add basic fields, no styling
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: pull up tab when active
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

feat: lower transparancy
  frontend/src/lib/components/ui/dialog/dialog-overlay.svelte
Due: frontend-lint

feat: add addProduct schema
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: add category dropdown
  frontend/src/lib/components/ui/textarea/index.ts
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/ProductsTab.svelte
  frontend/tailwind.config.ts
Due: frontend-lint

feat: make giphurs the default font
  frontend/src/app.css
Due: none

deps: setup unplugin-icons
  frontend/vite.config.js
  package-lock.json
  package.json
Due: frontend-lint

feat: add style to Product Name
  frontend/src/app.css
  frontend/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/src/lib/components/ui/input/input.svelte
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

deps: add iconify
  package-lock.json
  package.json
Due: none

feat: add styling for add button
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add style to add product dialog
  frontend/src/app.css
  frontend/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/src/lib/components/ui/textarea/index.ts
  frontend/src/lib/components/ui/textarea/textarea.svelte
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/ProductsTab.svelte
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: add hover on product image
  frontend/src/lib/assets/admin/icons/dndIcon.svg
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add schema for signup and login
  frontend/src/routes/schema.ts
Due: frontend-lint

feat: add cancel dialog
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add creators badges
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add styling to input fields
  frontend/src/lib/assets/admin/ticketBg.png
  frontend/src/routes/SignupDialog.svelte
Due: frontend-lint

feat: add quantity field
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: add signup form fields
  frontend/src/routes/+page.server.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/SignupDialog.svelte
Due: frontend-lint

chore: delete lockfile
  package-lock.json
Due: none
