Repository 44mira/kitschy-co: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

backend-lint:
  tags: backend style
  run: 'pipenv run black {staged_files} --line-length=79
  
    pipenv run isort {staged_files} --profile=black --filter-files -l=79
  
    pipenv run flake8 {staged_files} --config=.flake8
  
    pipenv run ./manage.py test
  
    '

frontend-lint:
  tags: frontend style
  run: 'npx prettier --write {staged_files}
  
    '

format
  frontend/postcss.config.js
  frontend/src/lib/components/admin/Navbar.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-checkbox-item.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-content.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-item.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-label.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-radio-group.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-radio-item.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-separator.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-shortcut.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-sub-content.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-sub-trigger.svelte
  frontend/src/lib/components/ui/dropdown-menu/index.ts
  frontend/src/lib/utils/index.ts
  frontend/tailwind.config.ts
  lefthook.yaml
Due: frontend-lint

feat: pull up tab when active
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

refactor: move api prefix
  backend/backend/urls.py
  backend/kitschy_api/urls.py
Due: backend-lint

chore: migrate
  backend/kitschy_api/migrations/0012_alter_order_method_alter_order_status.py
Due: backend-lint

feat: choices for method and status
  backend/kitschy_api/models/orders.py
Due: backend-lint

refactor: use lookup_field
  backend/kitschy_api/views/order_item.py
Due: backend-lint

deps: add django-cors-headers
  backend/Pipfile
  backend/Pipfile.lock
  backend/backend/settings.py
Due: backend-lint

format: pre-commit
  backend/backend/settings.py
Due: backend-lint

feat: added some custom colors and fonts in config
  frontend/src/app.css
  frontend/src/routes/+page.svelte
  frontend/static/fonts/Giphurs/Giphurs-ExtraBlack.ttf
  frontend/static/fonts/Giphurs/Giphurs-ExtraBold.ttf
  frontend/static/fonts/Giphurs/Giphurs-ExtraLight.ttf
  frontend/static/fonts/Giphurs/Giphurs-Light.ttf
  frontend/static/fonts/Giphurs/Giphurs-Medium.ttf
  frontend/static/fonts/Giphurs/Giphurs-Regular.ttf
  frontend/static/fonts/Giphurs/Giphurs-SemiBold.ttf
  frontend/static/fonts/Giphurs/Giphurs-Thin.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-Black.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-Bold.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-ExtraBold.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-ExtraLight.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-Light.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-Medium.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-Regular.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-SemiBold.ttf
  frontend/static/fonts/GiphursSC/GiphursSC-Thin.ttf
  frontend/static/fonts/Gladiola/Gladiola.ttf
  frontend/static/fonts/Lockergnome/Lockergnome.otf
  frontend/tailwind.config.ts
Due: frontend-lint

feat: add total key to serializer
  backend/kitschy_api/serializers/order_serializer.py
Due: backend-lint

refactor/fix: urls.py
  backend/kitschy_api/urls.py
Due: backend-lint

feat: items key for orders
  backend/kitschy_api/serializers/order_serializer.py
Due: backend-lint

feat!: delete order/items endpoint
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/__init__.py
  backend/kitschy_api/views/order_item.py
Due: backend-lint

doc: typo hyphen
  README.md
Due: none

style: changed some double quotes to single quotes
  frontend/tailwind.config.ts
Due: frontend-lint

feat: removed adminBG colors
  frontend/tailwind.config.ts
Due: frontend-lint

style: adjusted config code after lefthook run
  frontend/tailwind.config.ts
Due: frontend-lint

fix: updated cart model
  backend/kitschy_api/models/cart_items.py
Due: backend-lint

feat: finalized CRUD for cart_items
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/cart_items.py
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/serializers/cart_item_serializer.py
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/__init__.py
  backend/kitschy_api/views/cart_item.py
Due: backend-lint

format: backend lint formatted files
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/__init__.py
Due: backend-lint

feat: removed unnecessary price in cart_item and added appropriate total and subtotal methods
  backend/kitschy_api/models/cart_items.py
  backend/kitschy_api/serializers/cart_item_serializer.py
  backend/kitschy_api/serializers/cart_serializer.py
Due: backend-lint

feat: added CustomUser model
  backend/backend/settings.py
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/custom_users.py
Due: backend-lint

format: changed CustomUser-> User
  backend/backend/settings.py
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/custom_users.py
  backend/kitschy_api/models/users.py
Due: backend-lint

feat: added manager
  backend/kitschy_api/managers.py
Due: backend-lint

doc: fix typo
  README.md
Due: none

deps: add pytest-django and model-bakery
  backend/Pipfile
  backend/Pipfile.lock
  backend/pytest.ini
Due: none

chore: add *_tests.py glob for tests
  backend/pytest.ini
Due: none

chore: make tests directory
  backend/kitschy_api/tests.py
  backend/kitschy_api/tests/__init__.py
Due: backend-lint

chore: add to lefthook pytest
  lefthook.yaml
Due: none

test: add dummy test to pass for pytest signal hook
  backend/kitschy_api/tests/example_tests.py
Due: backend-lint

refactor: rename into item_id
  backend/kitschy_api/migrations/0009_orderitems.py
  backend/kitschy_api/models/cart_items.py
  backend/kitschy_api/models/order_items.py
  backend/kitschy_api/serializers/order_item_serializer.py
  backend/kitschy_api/tests/example_tests.py
Due: backend-lint

feat: initial setup for dj-rest-auth, created urls
  backend/backend/settings.py
  backend/backend/urls.py
  backend/kitschy_api/managers.py
  backend/kitschy_api/models/users.py
Due: backend-lint

feat: partly working registration, some fields don't save
  backend/backend/settings.py
  backend/backend/urls.py
  backend/kitschy_api/migrations/0001_initial.py
  backend/kitschy_api/migrations/0002_alter_user_membership_id.py
  backend/kitschy_api/migrations/__pycache__/0001_initial.cpython-311.pyc
  backend/kitschy_api/migrations/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/__pycache__/users.cpython-311.pyc
  backend/kitschy_api/models/users.py
  backend/kitschy_api/serializers/cart_serializer.py
  backend/kitschy_api/serializers/user_serializer.py
  backend/kitschy_api/views/user.py
Due: backend-lint

feat: made register url for user model, still needs reference to address table
  backend/backend/settings.py
  backend/kitschy_api/migrations/0001_initial.py
  backend/kitschy_api/models/users.py
  backend/kitschy_api/serializers/cart_serializer.py
  backend/kitschy_api/serializers/user_serializer.py
  backend/kitschy_api/views/user.py
Due: backend-lint

format: typo errors and additonal comments
  backend/kitschy_api/managers.py
  backend/kitschy_api/migrations/__pycache__/0001_initial.cpython-311.pyc
  backend/kitschy_api/migrations/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/__pycache__/users.cpython-311.pyc
  backend/kitschy_api/serializers/user_serializer.py
Due: backend-lint

chore: reinitialized database for AbstractUser
  backend/backend/settings.py
  backend/kitschy_api/migrations/0001_initial.py
  backend/kitschy_api/migrations/0002_address.py
  backend/kitschy_api/migrations/0002_product.py
  backend/kitschy_api/migrations/0003_merge_0002_address_0002_product.py
  backend/kitschy_api/migrations/0004_rename_user_address_user_id.py
  backend/kitschy_api/migrations/0005_alter_address_options.py
  backend/kitschy_api/migrations/0006_alter_address_options.py
  backend/kitschy_api/migrations/0007_order.py
  backend/kitschy_api/migrations/0007_productimage.py
  backend/kitschy_api/migrations/0008_merge_0007_order_0007_productimage.py
  backend/kitschy_api/migrations/0010_orderitems_quantity_alter_orderitems_unique_together.py
  backend/kitschy_api/migrations/0011_cart.py
  backend/kitschy_api/migrations/0012_alter_order_method_alter_order_status.py
  backend/kitschy_api/models/users.py
Due: backend-lint

fix: cleanup migrations and install auth deps
  backend/Pipfile
  backend/Pipfile.lock
  backend/kitschy_api/migrations/0003_alter_cartitem_options_and_more.py
  backend/kitschy_api/migrations/0009_orderitems.py
Due: backend-lint

feat: lower transparancy
  frontend/src/lib/components/ui/dialog/dialog-overlay.svelte
Due: frontend-lint

Path conditions:
  backend-lint: any of: backend/**/*.py and ^backend/
  frontend-lint: any of: frontend/*.{svelte,ts,js,md} and ^frontend/
