Repository 44mira/kitschy-co: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

backend-lint:
  tags: backend style
  run: 'pipenv run pytest
  
    pipenv run black {staged_files} --line-length=79
  
    pipenv run isort {staged_files} --profile=black --filter-files -l=79
  
    pipenv run flake8 {staged_files} --config=.flake8
  
    '

frontend-lint:
  tags: frontend style
  run: 'npx prettier --write {staged_files}
  
    '

deps: add iconify
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add temporary home user dir
  frontend/src/routes/(user)/home/+page.svelte
Due: frontend-lint

feat: add navbar ui
  frontend/src/routes/(user)/+layout.svelte
  frontend/src/routes/(user)/AvatarDropdown.svelte
  frontend/src/routes/(user)/CartLink.svelte
  frontend/src/routes/(user)/MerchandiseDropdown.svelte
  frontend/src/routes/(user)/Navbar.svelte
Due: frontend-lint

feat: dropdowns
  frontend/src/routes/(user)/AvatarDropdown.svelte
  frontend/src/routes/(user)/AvatarItem.svelte
  frontend/src/routes/(user)/MerchandiseDropdown.svelte
  frontend/src/routes/(user)/MerchandiseItem.svelte
Due: frontend-lint

fix: updated tests to match expected behavior
  backend/kitschy_api/tests/product_image_tests.py
  backend/kitschy_api/tests/product_tests.py
Due: backend-lint

format: format lint
  backend/kitschy_api/tests/product_image_tests.py
Due: backend-lint

deps: roof asset
  frontend/src/lib/assets/users/roof.png
Due: none

feat: header base
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/routes/(user)/MerchandiseItem.svelte
  frontend/src/routes/(user)/cafe/+page.svelte
  frontend/src/routes/(user)/cart/+page.svelte
Due: frontend-lint

feat: page for about & mission/vision
  frontend/src/app.css
  frontend/src/routes/+page.svelte
  frontend/static/fonts/GasoekOne/GasoekOne-Regular.ttf
  frontend/static/img/blue icon 2.png
  frontend/static/img/green icon 2.png
  frontend/static/img/pink icon 1.png
  frontend/tailwind.config.ts
Due: frontend-lint

feat: remove target="_blank"
  frontend/src/routes/(user)/Navbar.svelte
Due: frontend-lint

chore: add plate asset
  frontend/src/lib/assets/users/plate.png
Due: none

feat: create schema.ts
  frontend/src/api/schema.ts
Due: frontend-lint

refactor: migrate hero
  frontend/src/routes/(user)/cafe/+page.svelte
  frontend/src/routes/(user)/cafe/Hero.svelte
Due: frontend-lint

misc: create mockdata
  frontend/src/api/schema.ts
  frontend/src/routes/(user)/cafe/mockData.ts
Due: frontend-lint

misc!: change @/ alias to src instead of lib
  frontend/svelte.config.js
Due: frontend-lint

fix: Hero style and import
  frontend/src/routes/(user)/cafe/Hero.svelte
Due: frontend-lint

feat: add CafeItem
  frontend/src/routes/(user)/cafe/+page.svelte
  frontend/src/routes/(user)/cafe/CafeItem.svelte
Due: frontend-lint

feat: changed lookup from cart_id(pk) to user_id
  backend/kitschy_api/views/cart.py
Due: backend-lint

feat: fixed circular import
  backend/kitschy_api/serializers/cart_serializer.py
  backend/kitschy_api/views/cart.py
Due: backend-lint

format: format
  backend/kitschy_api/serializers/cart_serializer.py
Due: backend-lint

feat: checkout segment
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/routes/(user)/cart/+page.svelte
  frontend/src/routes/(user)/cart/Checkout.svelte
Due: frontend-lint

misc: pink flower bg asset
  frontend/src/lib/assets/users/pink flower.png
Due: none

feat: add pink flower bg
  frontend/src/routes/(user)/cart/+page.svelte
  frontend/src/routes/(user)/cart/Checkout.svelte
Due: frontend-lint

chore: transferred mission/vision to homepage
  frontend/src/routes/(user)/home/+page.svelte
  frontend/src/routes/+page.svelte
Due: frontend-lint

refactor: enclosed vision/mission to another div
  frontend/src/routes/(user)/home/+page.svelte
Due: frontend-lint

deps: add needed icon and shadcn textarea
  frontend/src/lib/assets/admin/icons/dndIcon.svg
  frontend/src/lib/components/ui/textarea/index.ts
  frontend/src/lib/components/ui/textarea/textarea.svelte
Due: frontend-lint

feat: add product popup
  frontend/src/lib/components/ui/textarea/index.ts
  frontend/src/lib/components/ui/textarea/textarea.svelte
  frontend/src/routes/admin/+page.server.ts
  frontend/src/routes/admin/+page.svelte
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/ProductsTab.svelte
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: change the css
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/src/lib/components/ui/dialog/dialog-overlay.svelte
  frontend/src/lib/components/ui/input/input.svelte
Due: frontend-lint

fix: css
  frontend/src/routes/(user)/cafe/CafeItem.svelte
Due: frontend-lint

refactor: remove redundancy in gap and pl
  frontend/src/routes/(user)/home/+page.svelte
Due: frontend-lint

feat: add signup dialog
  frontend/src/lib/api/schema.ts
  frontend/src/lib/assets/users/ticketBg.png
  frontend/src/routes/(user)/home/+page.server.ts
  frontend/src/routes/(user)/home/+page.svelte
  frontend/src/routes/(user)/home/SignupDialog.svelte
  frontend/tailwind.config.ts
Due: frontend-lint

chore: added girls
  frontend/src/lib/assets/users/blue_girl.png
  frontend/src/lib/assets/users/green_girl.png
  frontend/src/lib/assets/users/pink_girl.png
Due: none

feat: move schema to lib
  frontend/src/lib/api/adminSchema.ts
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: responsiveness on cafe/pastries page
  frontend/src/routes/(user)/cafe/+page.svelte
Due: frontend-lint

Path conditions:
  backend-lint: any of: backend/**/*.py and ^backend/
  frontend-lint: any of: frontend/*.{svelte,ts,js,md} and ^frontend/
