Repository 44mira/kitschy-co: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

backend-lint:
  tags: backend style
  staged_files: ls -1 backend
  run: 'cd backend
  
    pipenv run black . --line-length=79
  
    pipenv run isort . --profile=black --filter-files -l=79
  
    pipenv run flake8 . --config=.flake8
  
    '

frontend-lint:
  tags: frontend style
  run: 'cd frontend
  
    npx prettier --write .
  
    '

format: ran precommit on backend
  backend/kitschy_api/serializers/address_serializer.py
  backend/kitschy_api/serializers/order_serializer.py
  backend/kitschy_api/serializers/product_image_serializer.py
  backend/kitschy_api/serializers/product_serializer.py
  backend/kitschy_api/serializers/user_serializer.py
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/address.py
  backend/kitschy_api/views/order.py
  backend/kitschy_api/views/product.py
  backend/kitschy_api/views/product_image.py
  backend/kitschy_api/views/user.py
Due: backend-lint

refactor: use root attribute
  lefthook.yaml
Due: none

doc: document lefthook usage
  README.md
Due: frontend-lint

deps: remove pre-commit
  backend/.pre-commit-config.yaml
  backend/Pipfile
  backend/Pipfile.lock
Due: none

feat: add bg to admin
  frontend/src/lib/assets/admin/logo.png
  frontend/src/lib/assets/admin/polkaBg.png
  frontend/src/lib/index.ts
  frontend/src/lib/utils/index.ts
  frontend/src/routes/admin/+layout.svelte
Due: frontend-lint

feat: make navbar sticky
  frontend/src/lib/components/admin/Navbar.svelte
Due: frontend-lint

semi-finished model, need to do product model first
  backend/kitschy_api/models/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/order_items.py
Due: backend-lint

feat: add tabs, folder, and bg
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/routes/admin/+layout.svelte
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

feat: add separated tab components
  frontend/src/routes/admin/+page.svelte
  frontend/src/routes/admin/InsightsTab.svelte
  frontend/src/routes/admin/OrdersTab.svelte
  frontend/src/routes/admin/ProductsTab.svelte
Due: frontend-lint

feat: add some brand colors
  frontend/tailwind.config.ts
Due: frontend-lint

deps: add shadcn dropdown-menu
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-checkbox-item.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-content.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-item.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-label.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-radio-group.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-radio-item.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-separator.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-shortcut.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-sub-content.svelte
  frontend/src/lib/components/ui/dropdown-menu/dropdown-menu-sub-trigger.svelte
  frontend/src/lib/components/ui/dropdown-menu/index.ts
Due: frontend-lint

feat: add presets to duration filter
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/routes/admin/+page.svelte
  frontend/tailwind.config.ts
Due: frontend-lint

added order_items, model and CRUD
  backend/kitschy_api/migrations/0009_orderitems.py
  backend/kitschy_api/migrations/0010_orderitems_quantity_alter_orderitems_unique_together.py
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/__pycache__/__init__.cpython-311.pyc
  backend/kitschy_api/models/order_items.py
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/serializers/order_item_serializer.py
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/__init__.py
  backend/kitschy_api/views/order_item.py
Due: backend-lint

format: formatted files
  backend/kitschy_api/migrations/0009_orderitems.py
  backend/kitschy_api/migrations/0010_orderitems_quantity_alter_orderitems_unique_together.py
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/order_items.py
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/serializers/order_item_serializer.py
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/order_item.py
  lefthook.yaml
Due: backend-lint

Update tailwind.config.ts
  frontend/tailwind.config.ts
Due: frontend-lint

misc: update lefthook
  lefthook.yaml
Due: none

fix: added product serializer
  backend/kitschy_api/serializers/__init__.py
Due: backend-lint

fix: added serializer and view for product
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/views/__init__.py
Due: backend-lint

fix: change config files back to js
  frontend/postcss.config.js
  frontend/svelte.config.js
  frontend/vite.config.js
  package-lock.json
Due: frontend-lint

feat: add category filter
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

add border to navbar
  frontend/src/lib/components/admin/Navbar.svelte
Due: frontend-lint

feat: added cart model
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/carts.py
Due: backend-lint

feat: added serializer for cart
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/serializers/cart_serializer.py
Due: backend-lint

feat: added serializer for cart
  backend/kitschy_api/models/__init__.py
  backend/kitschy_api/models/carts.py
  backend/kitschy_api/serializers/__init__.py
  backend/kitschy_api/serializers/cart_serializer.py
Due: backend-lint

refactor: use $lib instead of @
  frontend/src/lib/components/admin/Navbar.svelte
Due: frontend-lint

feat: added cart to url and made views
  backend/kitschy_api/migrations/0011_cart.py
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/__init__.py
  backend/kitschy_api/views/cart.py
Due: backend-lint

Path conditions:
  backend-lint: any of: backend/**/*.py
  frontend-lint: any of: *.{svelte,ts,js,md}
