Repository 44mira/kitschy-co: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

backend-lint:
  tags: backend style
  run: 'pipenv run black {staged_files} --line-length=79
  
    pipenv run isort {staged_files} --profile=black --filter-files -l=79
  
    pipenv run flake8 {staged_files} --config=.flake8
  
    pipenv run ./manage.py test
  
    '

frontend-lint:
  tags: frontend style
  run: 'npx prettier --write {staged_files}
  
    '

feat: add addProduct schema
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: correct styling for tabs
  frontend/src/lib/components/ui/button/index.ts
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

feat: add basic fields, no styling
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add form actions
  frontend/src/routes/admin/+page.server.ts
Due: frontend-lint

deps: add iconify
  package-lock.json
  package.json
Due: none

deps: setup unplugin-icons
  frontend/vite.config.js
  package-lock.json
  package.json
Due: frontend-lint

feat: include image list in return body
  backend/kitschy_api/serializers/product_serializer.py
Due: backend-lint

feat: add styling for add button
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: remove redundant GET
  backend/kitschy_api/urls.py
  backend/kitschy_api/views/__init__.py
  backend/kitschy_api/views/product_image.py
Due: backend-lint

feat: make product_id write only
  backend/kitschy_api/serializers/product_image_serializer.py
Due: backend-lint

fix: hook not stopping unformatted pushes
  lefthook.yaml
Due: none

chore: makemigrations
  backend/kitschy_api/migrations/0004_rename_user_id_address_user_and_more.py
  backend/kitschy_api/migrations/0005_rename_order_id_orderitems_order_and_more.py
Due: backend-lint

feat: rename foreign keys
  backend/kitschy_api/models/addresses.py
  backend/kitschy_api/models/order_items.py
  backend/kitschy_api/models/orders.py
  backend/kitschy_api/models/product_images.py
  backend/kitschy_api/serializers/address_serializer.py
  backend/kitschy_api/serializers/order_item_serializer.py
  backend/kitschy_api/serializers/order_serializer.py
Due: backend-lint

feat: add hover on product image
  frontend/src/lib/assets/admin/icons/dndIcon.svg
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: make giphurs the default font
  frontend/src/app.css
Due: none

format: final format
  backend/kitschy_api/migrations/0001_initial.py
  backend/kitschy_api/migrations/0002_alter_user_membership_id.py
  backend/kitschy_api/migrations/0003_alter_cartitem_options_and_more.py
  backend/kitschy_api/migrations/0004_rename_user_id_address_user_and_more.py
  backend/kitschy_api/migrations/0005_rename_order_id_orderitems_order_and_more.py
  backend/kitschy_api/models/users.py
  backend/kitschy_api/serializers/address_serializer.py
  backend/kitschy_api/serializers/user_serializer.py
Due: backend-lint

feat: add style to Product Name
  frontend/src/app.css
  frontend/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/src/lib/components/ui/input/input.svelte
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add style to add product dialog
  frontend/src/app.css
  frontend/src/lib/components/ui/dialog/dialog-content.svelte
  frontend/src/lib/components/ui/textarea/index.ts
  frontend/src/lib/components/ui/textarea/textarea.svelte
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/ProductsTab.svelte
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: add category dropdown
  frontend/src/lib/components/ui/textarea/index.ts
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/ProductsTab.svelte
  frontend/tailwind.config.ts
Due: frontend-lint

feat: add quantity field
  frontend/src/routes/admin/AddProductsDialog.svelte
  frontend/src/routes/admin/schema.ts
Due: frontend-lint

feat: add creators badges
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add cancel dialog
  frontend/src/routes/admin/AddProductsDialog.svelte
Due: frontend-lint

feat: add schema for signup and login
  frontend/src/routes/schema.ts
Due: frontend-lint

feat: add signup form fields
  frontend/src/routes/+page.server.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/SignupDialog.svelte
Due: frontend-lint

feat: add styling to input fields
  frontend/src/lib/assets/admin/ticketBg.png
  frontend/src/routes/SignupDialog.svelte
Due: frontend-lint

feat: add status choice field
  backend/kitschy_api/models/products.py
Due: backend-lint

chore: migrate
  backend/kitschy_api/migrations/0002_product_status_alter_user_phone_number.py
Due: backend-lint

feat: add view action for getting filtered status on READY
  backend/kitschy_api/views/product.py
Due: backend-lint

deps: add django-filter
  backend/Pipfile
  backend/Pipfile.lock
  backend/backend/settings.py
Due: backend-lint

feat: use query params instead of a separate action
  backend/kitschy_api/views/product.py
Due: backend-lint

fix: incorrect foreign_key reference
  backend/kitschy_api/serializers/product_image_serializer.py
  backend/kitschy_api/serializers/product_serializer.py
Due: backend-lint

feat: ignore null keys
  backend/kitschy_api/serializers/product_serializer.py
Due: backend-lint

chore: migrate
  backend/kitschy_api/migrations/0002_alter_user_phone_number.py
Due: backend-lint

feat: refactor product for batched images
  backend/kitschy_api/views/product.py
Due: backend-lint

feat: add choices field for category
  backend/kitschy_api/models/products.py
Due: backend-lint

feat: add query param filter for category
  backend/kitschy_api/views/product.py
Due: backend-lint

chore: migrate
  backend/kitschy_api/migrations/0002_alter_user_phone_number.py
  backend/kitschy_api/migrations/0003_merge_20241125_1848.py
  backend/kitschy_api/migrations/0004_product_category.py
Due: backend-lint

feat: add creators field
  backend/kitschy_api/models/products.py
Due: backend-lint

feat: add creators filter
  backend/kitschy_api/views/product.py
Due: backend-lint

chore: migrate
  backend/kitschy_api/migrations/0005_product_creators.py
Due: backend-lint

Path conditions:
  backend-lint: any of: backend/**/*.py and ^backend/
  frontend-lint: any of: frontend/*.{svelte,ts,js,md} and ^frontend/
