Repository 44mira/kitschy-co: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    backend-lint:
      tags: backend style
      glob: "backend/**/*.py"
      root: backend/
      run: |
        pipenv run pytest
        pipenv run black {staged_files} --line-length=79
        pipenv run isort {staged_files} --profile=black --filter-files -l=79
        pipenv run flake8 {staged_files} --config=.flake8
    frontend-lint:
      tags: frontend style
      glob: "frontend/*.{svelte,ts,js,md}"
      root: frontend/
      run: |
        npx prettier --write {staged_files}

feat: add loaded values (for edit)
  frontend/src/routes/admin/EditProductForm.svelte
  frontend/src/routes/admin/ProductForm.svelte
Due: frontend-lint

refactor: move out some constants
  frontend/src/routes/admin/EditProductForm.svelte
  frontend/src/routes/admin/ProductForm.svelte
  frontend/src/routes/admin/admin.ts
Due: frontend-lint

feat: show 1st image if already loaded (edit)
  frontend/src/routes/(user)/cafe/mockData.ts
  frontend/src/routes/admin/ProductForm.svelte
  frontend/src/routes/admin/ProductRow.svelte
  frontend/src/routes/admin/ProductsTable.svelte
  frontend/src/routes/admin/admin.ts
Due: frontend-lint

feat: actions
  frontend/src/routes/admin/EditProductForm.svelte
  frontend/src/routes/admin/ProductRow.svelte
  frontend/src/routes/admin/ProductsTable.svelte
  frontend/src/routes/admin/admin.ts
Due: frontend-lint

refactor: remove unnecessary absolute
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

refactor: move stamp in and reduce hitbox
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

feat: add more vertical space
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

chore: remove console.log
  frontend/src/routes/admin/+page.svelte
Due: frontend-lint

chore: add build script
  backend/Pipfile
  backend/Pipfile.lock
  backend/build.sh
Due: none

chore: vercel json setup
  .gitignore
  backend/.vercel.json
  backend/backend/settings.py
  backend/build.sh
  backend/requirements.txt
Due: backend-lint

format: formatting
  backend/backend/settings.py
Due: backend-lint

refactor: use ProductForm component
  frontend/src/routes/admin/AddProductForm.svelte
Due: frontend-lint

feat: clean slate
  backend/kitschy_api/migrations/0001_initial.py
  backend/kitschy_api/migrations/0002_alter_user_phone_number.py
  backend/kitschy_api/migrations/0002_product_status_alter_user_phone_number.py
  backend/kitschy_api/migrations/0003_merge_20241125_1848.py
  backend/kitschy_api/migrations/0003_merge_20241126_0125.py
  backend/kitschy_api/migrations/0004_product_category.py
  backend/kitschy_api/migrations/0005_product_creators.py
  backend/kitschy_api/migrations/0006_merge_0003_merge_20241126_0125_0005_product_creators.py
  backend/kitschy_api/models/products.py
Due: backend-lint

format: format
  backend/kitschy_api/migrations/0001_initial.py
  backend/kitschy_api/models/products.py
Due: backend-lint

format: format
  backend/backend/settings.py
  backend/kitschy_api/admin.py
  backend/kitschy_api/migrations/0002_remove_productimage_img_url_productimage_image.py
  backend/kitschy_api/migrations/0003_alter_productimage_image.py
  backend/kitschy_api/models/product_images.py
  backend/kitschy_api/serializers/product_image_serializer.py
  backend/kitschy_api/serializers/product_serializer.py
  backend/kitschy_api/views/product.py
Due: backend-lint

fix: aligned labels with frontend schema
  backend/kitschy_api/migrations/0004_rename_image_productimage_img_url.py
  backend/kitschy_api/models/product_images.py
  backend/kitschy_api/views/product.py
Due: backend-lint

format: format
  backend/kitschy_api/models/product_images.py
  backend/kitschy_api/views/product.py
Due: backend-lint

feat: displayed nested images path in products
  backend/kitschy_api/migrations/0005_alter_productimage_product.py
  backend/kitschy_api/migrations/0006_alter_productimage_product.py
  backend/kitschy_api/models/product_images.py
  backend/kitschy_api/serializers/product_image_serializer.py
Due: backend-lint

format : format
  backend/kitschy_api/serializers/product_image_serializer.py
Due: backend-lint

fix: updated images to lib/assets from static
  frontend/src/lib/assets/users/carousel_banner.png
  frontend/src/routes/(user)/merch/Carousel.svelte
Due: frontend-lint

format: format
  frontend/src/routes/(user)/merch/Carousel.svelte
Due: frontend-lint

fix: build errors
  frontend/package-lock.json
Due: none

feat: responsiveness on homepage hero
  frontend/src/routes/(user)/home/(hero)/CallCard.svelte
  frontend/src/routes/(user)/home/(hero)/CallToAction.svelte
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
  frontend/src/routes/(user)/home/(hero)/HeroMessage.svelte
  frontend/src/routes/(user)/home/(hero)/SignupDialog.svelte
  frontend/src/routes/(user)/home/+page.svelte
Due: frontend-lint

feat: redirect automatically to /home when entering index
  frontend/src/routes/+page.server.ts
Due: frontend-lint

deps: add logo2.png
  frontend/src/lib/assets/logo2.png
Due: none

feat: change navbar logo for user to thew new logo
  frontend/src/routes/(user)/Navbar.svelte
Due: frontend-lint

feat: use mx-auto instead of hardcoded position
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

feat: don't reduce stamp size
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

format: formatting of Hero.svelte
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

feat: use mx auto for stamp
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

feat: add stamp border
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint

format(hero): all
  frontend/src/routes/(user)/home/(hero)/CallCard.svelte
  frontend/src/routes/(user)/home/(hero)/CallToAction.svelte
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
  frontend/src/routes/(user)/home/(hero)/HeroMessage.svelte
Due: frontend-lint

misc: make mockData.ts
  frontend/src/routes/(user)/merch/mockData.ts
Due: frontend-lint

format: +page.svelte
  frontend/src/routes/(user)/merch/+page.svelte
Due: frontend-lint

feat: use $state and svelte features
  frontend/src/routes/(user)/merch/Carousel.svelte
Due: frontend-lint

feat: use svelte transitions
  frontend/src/routes/(user)/merch/Carousel.svelte
Due: frontend-lint

feat: add delay to in transition
  frontend/src/routes/(user)/merch/Carousel.svelte
Due: frontend-lint

refactor: use left and right directly instead of making class
  frontend/src/routes/(user)/merch/Carousel.svelte
Due: frontend-lint

feat: responsiveness of membership card
  frontend/src/routes/(user)/membership/+page.svelte
Due: frontend-lint

fix: use set height for alignment in landing hero
  frontend/src/routes/(user)/home/(hero)/Hero.svelte
Due: frontend-lint
